/* Add your customizations of theme here */
th {
    .ui-treetable &,
    .ui-datatable & {
        -moz-box-sizing: unset;
        -webkit-box-sizing: unset;
        box-sizing: unset;
    }
}
td {
    .ui-treetable &,
    .ui-datatable & {
        -moz-box-sizing: unset;
        -webkit-box-sizing: unset;
        box-sizing: unset;
    }
}
body {
    .ui-panel {
        .ui-panel-titlebar {
            padding: 8px 14px;
        }
    }
    .ui-button {
        background-color: $ivyPrimaryColorGreen;
        &.ui-state-hover {
            background-color: $accentDarkColor;
        }
        &.secondary-btn {
            background-color: $ivyPrimaryColorMediumGrey;
            &.ui-state-hover {
                background-color: $ivyPrimaryColorDarkGrey;
            }
        }
        &.red-btn {
            background-color: $ivyTertiaryColorDarkRed;
        }
        &.amber-btn {
            background-color: $ivyTertiaryColorDarkYellow;
        }
    }
    .ui-datatable {
        .ui-datatable-header {
            background-color: $ivyPrimaryColorLightGrey;
            color: $ivyPrimaryColorBlack;
            .ui-inputfield {
                color: $ivyPrimaryColorBlack;
            }
        }
    }
}
