$ivyPrimaryColorBlack:#1B1B1B;
$ivyPrimaryColorWhite:#FFFFFF;
$ivyPrimaryColorGreen:#C7D426;
$ivyPrimaryColorLightGreen:#D7E52C;
$ivyPrimaryColorDarkGrey:#575656;
$ivyPrimaryColorMediumGrey:#9C9D9D;
$ivyPrimaryColorLightGrey:#D9DADA;
$ivyPrimaryColorPaleGrey:#F4F5F5;
$ivyPrimaryColorBasicGrey:#F9FAFA;

$ivySecondaryColorDarkBlue:#007095;
$ivySecondaryColorMediumBlue:#49BAD6;
$ivySecondaryColorLightBlue:#90DDE6;

$ivyTertiaryColorDarkRed:#D23636;
$ivyTertiaryColorMediumRed:#EE4A52;
$ivyTertiaryColorLightRed:#FCC3C3;
$ivyTertiaryColorDarkGreen:#2AA483;
$ivyTertiaryColorMediumGreen:#48C46B;
$ivyTertiaryColorLightGreen:#D4EBA2;
$ivyTertiaryColorDarkYellow:#FFCE29;
$ivyTertiaryColorMediumYellow:#FEDE4B;
$ivyTertiaryColorLightYellow:#FFE896;

$primaryColor:$ivySecondaryColorDarkBlue;
$primaryDarkColor:#006283;
$primaryLightColor:$ivyPrimaryColorMediumGrey;
$primaryLightestColor:$ivyPrimaryColorBasicGrey;
$primaryTextColor:$ivyPrimaryColorWhite;
$accentColor:$ivyPrimaryColorGreen;
$accentDarkColor: #AFB42B;
$accentLightColor: $ivyPrimaryColorLightGreen;
$accentTextColor: $ivyPrimaryColorWhite;

@import '../sass/theme/_theme';