$primaryColor:#007095;
$primaryDarkColor:#006283;
$primaryLightColor:#9C9D9D;
$primaryLightestColor:#FFF8E1;
$primaryTextColor:#ffffff;
$accentColor:#C7D426;
$accentDarkColor: #AFB42B;
$accentLightColor: #D7E52C;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';