.ui-message {
  margin: 0 0 20px 0;
}
.ui-fluid .ui-button.wizard-top-button {
  float: left;
  width: 200px;
  margin-right: 5px;
  margin-bottom: 20px;
}
body .ui-panelgrid .ui-panelgrid-cell {
  padding-top: 0;
}
#chooseFileBtn {
  width: 100%;
}
#uploadStatus {
  padding: 0; 
  line-height: 30px;
}