/* Topbar */
.layout-topbar-dark .layout-topbar .layout-topbar-wrapper .layout-topbar-right,
.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right {
  flex-grow: 0;
  min-width: 325px;
}
.layout-breadcrumb {
  height: 100%;
  margin-left: 16rem;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .layout-breadcrumb {
    margin-left: 0;
  }
  .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a {
    padding: 6px 2px;
  }
}
.layout-breadcrumb ul {
  margin: 1.5rem 0 0 0;
  padding-left: 0;
}
.layout-breadcrumb li {
  list-style: none;
  margin: 0 0.1rem;
}
@media (max-width: 700px) {
  .layout-breadcrumb li a,
  .layout-breadcrumb li span {
    display: inline-block;
    width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .layout-breadcrumb li a:hover,
  .layout-breadcrumb li span:hover {
    width: unset;
  }
}
@media (max-width: 450px) {
  .layout-breadcrumb {
    display: none;
  }
}

/* Live Stats */
.layout-config {
  width: 30rem;
}

/* General */
body .ui-button.ui-state-disabled {
  opacity: 0.3;
}
body .md-inputfield .ui-message {
  display: block;
}
body .md-inputfield .ui-inputfield:not(.ui-state-error) ~ .ui-message {
  visibility: hidden;
  height: 0;
  padding: 0;
}
body .md-inputfield .ui-inputfield.ui-state-error ~ .ui-message.ui-message-error {
  background-color: transparent;
  border: 0 none;
  margin: 0px;
  padding: 0.5rem;
  font-size: 11px;
}
body .md-inputfield .ui-message.ui-message-error .ui-message-error-detail,
body .md-inputfield .ui-message.ui-message-error .ui-message-error-icon {
  color: var(--error-color);
}
body .user-avatar {
  background: var(--surface-c);
  aspect-ratio: 1 / 1;
}
body .user-avatar > img {
  z-index: 1;
}

/* Dashboard */
.layout-dashboard .card {
  height: 100%;
}
.card .card-header .card-title {
  width: 100%; height: 33px;
}
.card .card-title-icon, 
.card .card-title > .si {
  font-size: 1.4em;
}
.grey-label-panel .ui-panelgrid-cell:nth-child(odd) > label {
  opacity: 0.65;
}
.card .ui-panelgrid-cell:nth-child(2n) {
  word-wrap: anywhere;
}

/* Dialog */
.ui-dialog .ui-dialog-content {
  display: flex;
  flex-direction: column;
}
.ui-dialog .ui-dialog-content .modal-input-button {
  float: right;
  margin-left: 0.5rem;
}
.ui-dialog.ui-confirm-dialog .ui-dialog-content > .ui-icon {
  display: none;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
  align-items: flex-start;
}
.ui-dialog.ui-confirm-dialog .ui-dialog-content > .ui-confirm-dialog-message {
  margin-left: 0;
}
.ui-dialog.ui-confirm-dialog .ui-dialog-buttonpane .ui-message {
  text-align: left;
}
.code-block pre,
.config-edit-description pre {
  margin: 0;
  overflow: auto;
  max-height: 500px;
}
.code {
  font-family: monospace !important;
  white-space: pre;
  overflow: auto;
  max-height: 200px;
}
.ui-dialog .ui-dialog-content .custom-dialog-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

/* Deploment */
.file-upload .deploy-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-upload .drop-zone {
  border: 2px dashed var(--text-color-secondary, #ccc);
  border-radius: 10px;
  padding: 5px;
}
.file-upload .drop-zone:where(.is-dragover, .ui-state-drag) {
  border-color: var(--primary-color, #607d8b);
  background: var(--primary-lighter-color);
}
.file-upload .file-upload-error {
  padding: 8px 14px;
  color: red;
  font-weight: bold;
  line-height: 30px;
}
#uploadStatus .si {
  margin-right: 5xp;
  position: relative;
  top: 2px;
}
#uploadLog {
  height: 500px; 
  overflow: auto;
}

/* Icons */
.si.link-icon {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

/* Table / Tree */
.table-search {
  background: var(--surface-b);
  border: 1px solid var(--surface-d);
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}
.layout-topbar-dark .table-search {
  background: var(--surface-a);
  border-width: 0 0 1px 0;
}
.filter-container {
  width: 100%;
}
body .ui-tree {
  border: none;
  padding: 0;
}
body .ui-datatable .ui-datatable-header {
  border-radius: 0;
}
.ui-datatable.no-header-table thead {
  display: none;
}
.ui-datatable .table-icon,
.ui-treetable .table-icon {
  position: relative;
  top: 3px;
  font-size: 1.2em;
  margin-right: 5px;
}
.table-icon.light {
  opacity: 0.5;
}
.ui-tree .addition-row-info,
.ui-datatable .addition-row-info,
.ui-treetable .addition-row-info {
  font-style: italic;
  color: var(--text-color-secondary);
}
.ui-treetable.hide-head table thead {
  display: none;
}
.ui-datatable .ui-column-filter {
  display: none;
}
.ui-datatable .table-content-filter {
  min-width: 250px;
}
.ui-datatable .table-content-filter table {
  width: unset;
}
.table-btn-1 {
  text-align: right; 
  width: 35px;
}
.table-btn-2 {
  text-align: right; 
  width: 75px;
}
.table-btn-3 {
  text-align: right; 
  width: 115px;
}
.table-btn-4 {
  text-align: right; 
  width: 150px;
}
.table-btn-5 {
  text-align: right; 
  width: 185px;
}
.ui-datatable .ui-datatable-data .default-value td:not([class^='table-btn']) {
  opacity: 0.4;
}
.gradient-text {
  mix-blend-mode: difference;
}
.ui-datatable .table-cell-autocut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}
.ui-datatable .table-icon ~ .table-cell-autocut {
  width: calc(100% - 25px);
}

/* Messages */
.ui-message.ui-staticmessage {
  width: 100%;
  display: block;
}
.card .ui-message.ui-staticmessage,
.ui-dialog .ui-message.ui-staticmessage,
.connection-panel .ui-staticmessage {
  margin: 0.5rem 0;
}
.connection-panel .ui-message.ui-message-success {
  background: hsl(64, 70%, 49%);
  border: 1px solid hsl(64, 70%, 29%);
  border-width: 0 0 0 3px;
  color: hsl(0, 1%, 20%);
}

/* Search Engine */
.si.icon-bold {
  font-weight: bold;
  font-size: 24px;
}

.si.state-icon {
  position: relative;
  top: 3px;
  font-size: 1.2em;
  margin-right: 5px;
}

.state-active,
.activity-state-active,
.search-machine-state-true,
.search-machine-health-green,
.thread-runnable {
  color: var(--success-color, #2aa483);
}
.thread-waiting {
  color: var(--primary-color);
}
.state-unknown,
.activity-state-locked,
.search-machine-health-yellow,
.licence-messages i.warning {
  color: var(--warning-color, #ffce29);
}
.state-inactive,
.activity-state-error,
.search-machine-state-false,
.search-machine-health-red,
.licence-messages i.error, 
.thread-deadlocked {
  color: var(--error-color, #d23636);
}
.unused-column {
  color: var(--text-color-secondary, grey);
}
.state-unused,
.table-icon.search-machine-health-unknown,
.search-machine-health-unknown {
  font-weight: normal;
}
.querytool .querytool-url {
  font-style: italic;
  min-width: 200px;
  word-wrap: break-word;
}
.querytool .querytool-query {
  width: 100%;
}

/* Config File Editor */
.editor-card {
  margin-bottom: 0;
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.editor-card .config-file-editor {
  width: 100%;
}
.editor-card .CodeMirror.cm-s-dark,
.editor-card .CodeMirror.cm-s-default {
  height: calc(100vh - 350px);
}
.editor-card .CodeMirror .cm-whitespace::before {
  opacity: 0.4;
}

/* Email Settings */
.float-select-many-checkbox .ui-g > div {
  float: left;
  width: 75px;
  padding-bottom: 8px;
}
.email-radio-style {
  margin: -0.5rem;
}

/* Business Calendar */
.business-calendar-box {
  flex-grow: 1;
} 
.business-calendar-box div {
  background-color: var(--surface-d);
  text-align: center;
  border-radius: 4px;
}
.business-calendar-box div.free {
  background-color: hsla(var(--ivy-primary-color-h), var(--ivy-primary-color-s), var(--ivy-primary-color-l), 0.3);
}

/* Security System */
.provider-icon {
  position: relative;
  display: inline-block;
  right: 5px;
  top: 7px;
}
.provider-icon svg {
  width: 24px;
  height: 24px;
}

/* Dynamic Config */
.card .dynamic-config-group {
  display: block;
  margin-top: 0.8em;
}
.card .dynamic-config-group label {
  display: block;
}
.card .dynamic-config-field, 
.card .dynamic-config-field.ui-inputnumber .ui-inputfield {
  margin: 0.2rem 0;
}
.pre-tooltip {
  white-space: pre;
}

/* Notification Channel */
.notification-channel-table-icon {
  position: relative;
  display: inline-block;
  right: 5px;
  top: 7px;
}
.notification-channel-table-icon svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
.notification-channel-title-icon svg {
  width: 1.4em;
  height: 1.4em;
  fill: var(--text-color);
}

/* Branding */
.branding-img {
  max-width: 100%;
  max-height: 50px;
}
.layout-menu-light .branding-img.logo_light {
  background-color: rgba(0, 0, 0, 0.2);
}
.layout-menu-dark .branding-img:not(.logo_light) {
  background-color: rgba(255, 255, 255, 0.2);
}
.branding-btn {
  max-height: 30px;
}
.branding-btn .ui-button-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) and (max-width: 1332px) {
  .branding-resources .md:col-3 {
    width: 25%;
  }
  .branding-resources .md:col-4 {
    width: 33.3333%;
  }
  .branding-resources .md:col-5 {
    width: 41.6667%;
  }
}
.color-preview {
  display: inline-block;
  position: relative;
  top: 6px; 
  height: 24px; 
  width: 30px; 
  margin-right: 5px; 
  border: 2px solid black;
}
.ui-inputfield.color-picker-btn {
  padding: 2px; 
  height: 32px; 
  border-radius: 6px;
}
.ui-inputfield.color-picker-btn:hover {
  cursor: pointer;
}

/* TLS Tester */

.tls-tester-row-expansion {
  line-height: 1em;
}

/* Directory Browser */
.directory-browser,
.directory-browser .grid {
  height: 100%;
}
.directory-browser .ui-tree {
  width: 50%;
  max-height: 100%;
  min-height: 200px;
  overflow-y: auto;
}
.directory-browser .ui-datatable {
  white-space: nowrap;
  height: 100%;
  padding: 0.5rem;
}
.directory-browser .ui-datatable-scrollable-body {
  max-height: calc(100% - 39px);
}
.directory-browser .ui-datatable .ui-datatable-data td {
  padding: 0.5rem;
}

.ui-diagram-element {
  background-color: var(--surface-d);
  width: 15em;
  height: 5em;
  text-align: center;
  user-select: none;
  border-radius: 0.5rem;
}

.ui-diagram-element.error {
  border: solid 2px var(--error-color);
}

.ui-diagram-element.ok {
  border: solid 2px var(--success-color);
}

.ui-diagram-element[data-tooltip]:hover:before,
.ui-diagram-element[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}

.ui-diagram-element[data-tooltip]:before,
.ui-diagram-element[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 1;
  visibility: hidden;
  z-index: 9;
  transition: 0.6s ease-in-out 0.4s;
}

.ui-diagram-element[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 9px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--ivy-primary-color) transparent;
}

.ui-diagram-element[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: pre;
  background: var(--ivy-primary-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
  top: calc(100% + 11px);
  color: var(--ivy-primary-text-color);
  border-radius: 2px;
}
.migration-question-select-button {
  display: flex;
}
body .migration-question-select-button > div.ui-button {
  margin: 0px;
}

body .ui-tooltip .ui-panelgrid .ui-panelgrid-cell {
  color: #EAEBEC;
}
