/* Topbar */
.layout-topbar-dark .layout-topbar .layout-topbar-wrapper .layout-topbar-right,
.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right {
  flex-grow: 0;
  min-width: 325px;
}
.layout-breadcrumb {
  height: 100%;
  margin-left: 16rem;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .layout-breadcrumb {
    margin-left: 0;
  }
  .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a {
    padding: 6px 2px;
  }
}
.layout-breadcrumb ul {
  margin: 1.5rem 0 0 0;
  padding-left: 0;
}
.layout-breadcrumb li {
  list-style: none;
  margin: 0 0.1rem;
}
@media (max-width: 700px) {
  .layout-breadcrumb li a,
  .layout-breadcrumb li span {
    display: inline-block;
    width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .layout-breadcrumb li a:hover,
  .layout-breadcrumb li span:hover {
    width: unset;
  }
}
@media (max-width: 450px) {
  .layout-breadcrumb {
    display: none;
  }
}

/* Live Stats */
.layout-config {
  width: 30rem;
}

/* General */
body .ui-button.ui-state-disabled {
  opacity: 0.3;
}
body .md-inputfield .ui-message {
  display: block;
}
body .md-inputfield .ui-inputfield:not(.ui-state-error) ~ .ui-message {
  visibility: hidden;
  height: 0;
  padding: 0;
}
body .md-inputfield .ui-inputfield.ui-state-error ~ .ui-message.ui-message-error {
  background-color: transparent;
  border: 0 none;
  margin: 0px;
  padding: 0.5rem;
  font-size: 11px;
}
body .md-inputfield .ui-message.ui-message-error .ui-message-error-detail,
body .md-inputfield .ui-message.ui-message-error .ui-message-error-icon {
  color: var(--error-color);
}
body .user-avatar {
  background: var(--surface-c);
  aspect-ratio: 1 / 1;
}
body .user-avatar > img {
  z-index: 1;
}

/* Dashboard */
.layout-dashboard .card {
  height: 100%;
}
.card .card-header .card-title {
  width: 100%; height: 33px;
}
.card .card-title-icon, 
.card .card-title > .si {
  font-size: 1.4em;
}
.grey-label-panel .ui-panelgrid-cell:nth-child(odd) > label {
  opacity: 0.65;
}

/* Dialog */
.ui-dialog .ui-dialog-content .modal-input-button {
  float: right;
  margin-left: 0.5rem;
}
.ui-dialog.ui-confirm-dialog .ui-dialog-content > .ui-icon {
  display: none;
}
.ui-dialog.ui-confirm-dialog .ui-dialog-content > .ui-confirm-dialog-message {
  margin-left: 0;
}
.code-block pre,
.config-edit-description pre {
  margin: 0;
  overflow: auto;
  max-height: 500px;
}

/* Deploment */
.file-upload .deploy-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-upload #drop_zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 5px;
}
.file-upload #drop_zone.is-dragover {
  border-color: #607d8b;
}
.file-upload .file-upload-error {
  padding: 8px 14px;
  color: red;
  font-weight: bold;
  line-height: 30px;
}
#uploadStatus .si {
  margin-right: 5xp;
  position: relative;
  top: 2px;
}
#uploadLog {
  height: 500px; 
  overflow: auto;
}

/* Icons */
.si.link-icon {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

/* Table / Tree */
body .ui-tree {
  border: none;
  padding: 0;
}
body .ui-datatable .ui-datatable-header {
  border-radius: 0;
}
.ui-datatable.no-header-table thead {
  display: none;
}
.ui-datatable .table-icon,
.ui-treetable .table-icon {
  position: relative;
  top: 3px;
  font-size: 1.2em;
  margin-right: 5px;
}
.table-icon.light {
  opacity: 0.5;
}
.ui-tree .addition-row-info,
.ui-datatable .addition-row-info,
.ui-treetable .addition-row-info {
  font-style: italic;
  color: var(--text-color-secondary);
}
.ui-treetable.hide-head table thead {
  display: none;
}
.ui-datatable .ui-column-filter {
  display: none;
}
.ui-datatable .table-content-filter {
  min-width: 250px;
}
.ui-datatable .table-content-filter table {
  width: unset;
}
.table-btn-1 {
  text-align: right; 
  width: 35px;
}
.table-btn-2 {
  text-align: right; 
  width: 75px;
}
.table-btn-4 {
  text-align: right; 
  width: 150px;
}
.ui-datatable .ui-datatable-data .default-value td:not([class^='table-btn']) {
  opacity: 0.4;
}
.gradient-text {
  mix-blend-mode: difference;
}
.ui-datatable .table-cell-autocut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
/*   position: relative; */
/*   top: 5px; */
}
.ui-datatable .table-icon ~ .table-cell-autocut {
  width: calc(100% - 25px);
}

/* Licence Message */
.licence-messages i.warning {
  color: #ffce29;
}
.licence-messages i.error,
i.error {
  color: #d23636;
}
i.success {
  color: green;
}

/* Messages */
.ui-message.ui-staticmessage {
  width: 100%;
  display: block;
}
.card .ui-message.ui-staticmessage,
.ui-dialog .ui-message.ui-staticmessage,
.connection-panel .ui-staticmessage {
  margin: 0.5rem 0;
}
.connection-panel .ui-message.ui-message-success {
  background: hsl(64, 70%, 49%);
  border: 1px solid hsl(64, 70%, 29%);
  border-width: 0 0 0 3px;
  color: hsl(0, 1%, 20%);
}

/* Search Engine */
.si.icon-bold {
  font-weight: bold;
  font-size: 24px;
}

.state-active,
.activity-state-active,
.search-machine-state-true,
.search-machine-health-green {
  color: #2aa483;
}
.state-unknown,
.activity-state-locked,
.search-machine-health-yellow {
  color: #ffce29;
}
.state-inactive,
.activity-state-error,
.search-machine-state-false,
.search-machine-health-red {
  color: #d23636;
}
.table-icon.search-machine-health-unknown,
.search-machine-health-unknown {
  font-weight: normal;
}
.querytool .querytool-url {
  font-style: italic;
  min-width: 200px;
  word-wrap: break-word;
}
.querytool .querytool-query {
  width: 100%;
}

/* Yaml Editor */
.editor-card {
  margin-bottom: 0;
  height: calc(100vh - 250px);
}
.editor-card .yaml-editor {
  width: 100%;
}
.editor-card .CodeMirror.cm-s-dark,
.editor-card .CodeMirror.cm-s-default {
  height: calc(100vh - 350px);
}
.editor-card .CodeMirror .cm-whitespace::before {
  opacity: 0.4;
}

/* Email Settings */
.float-select-many-checkbox .ui-g > div {
  float: left;
  width: 75px;
  padding-bottom: 8px;
}
.email-radio-style {
  margin: -0.5rem;
}

/* Business Calendar */
.business-calendar-box {
  flex-grow: 1;
} 
.business-calendar-box div {
  background-color: var(--surface-d);
  text-align: center;
  border-radius: 4px;
}
.business-calendar-box div.free {
  background-color: hsla(var(--ivy-primary-color-h), var(--ivy-primary-color-s), var(--ivy-primary-color-l), 0.3);
}

/* Branding */
.branding-img {
  max-width: 100%;
  max-height: 50px;
}
.layout-menu-light .branding-img.logo_light {
  background-color: rgba(0, 0, 0, 0.2);
}
.layout-menu-dark .branding-img:not(.logo_light) {
  background-color: rgba(255, 255, 255, 0.2);
}
.branding-btn {
  max-height: 30px;
}
.branding-btn .ui-button-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) and (max-width: 1332px) {
  .branding-resources .p-md-3 {
    width: 25%;
  }
  .branding-resources .p-md-4 {
    width: 33.3333%;
  }
  .branding-resources .p-md-5 {
    width: 41.6667%;
  }
}
.color-preview {
  display: inline-block;
  position: relative;
  top: 6px; 
  height: 24px; 
  width: 30px; 
  margin-right: 5px; 
  border: 2px solid black;
}
.ui-inputfield.color-picker-btn {
  padding: 2px; 
  height: 32px; 
  border-radius: 6px;
}
.ui-inputfield.color-picker-btn:hover {
  cursor: pointer;
}

/* LDAP Browser */
.ldap-browser,
.ldap-browser .p-grid {
  height: 100%;
}
.ldap-browser .ui-tree {
  width: 50%;
  max-height: 100%;
  min-height: 200px;
  overflow-y: auto;
}
.ldap-browser .ui-datatable {
  white-space: nowrap;
  height: 100%;
  padding: 0.5rem;
}
.ldap-browser .ui-datatable-scrollable-body {
  max-height: calc(100% - 39px);
}
.ldap-browser .ui-datatable .ui-datatable-data td {
  padding: 0.5rem;
}
