body .ui-panelgrid .ui-panelgrid-cell {
  padding-top: 0;
}
body .ui-growl {
  top: 125px;
}
.ui-steps .ui-steps-item {
  width: 25%;
}
#chooseFileBtn {
  width: 100%;
}
#uploadStatus {
  padding: 0; 
  line-height: 30px;
  margin-right: 10px;
}