/* Maintanance */
.maintenance .ui-message {
  margin: 0 0 10px 0;
}
.maintenance .card {
  text-align: center; 
  padding: 2rem; 
  min-width: 300px; 
  height: 100%; 
  background: hsla(0, 0%, 100%, 0.9);
}
.maintenance .card i:first-child {
  font-size: 56px; 
}
.maintenance .card .ui-linkbutton {
  margin-top: 2rem;
}

body .ui-panelgrid .ui-panelgrid-cell {
  padding-top: 0;
}
body .ui-growl {
  top: 125px;
}
.ui-steps .ui-steps-item {
  width: 25%;
}
body .ui-steps .ui-steps-item .step-warning .ui-steps-number {
  background-color: #ffce29;
  color: #575656;
}
body .ui-steps .ui-steps-item .step-ok .ui-steps-number {
  background-color: #c7d426;
  color: #575656;
}
.ui-fluid .wizard-step-button {
  width: 100px;
  margin-right: 5px;
  float: right;
  margin-top: 20px;
  pointer-events: all;
}
.ui-fluid a.wizard-step-button {
  width: auto;
  margin-right: 10px;
  line-height: 30px;
  color: var(--ivy-primary-color-grey-dark, gray);
}
#chooseFileBtn {
  width: 100%;
}
#uploadStatus {
  padding: 0;
  margin-right: 10px;
}
#drop_zone {
  line-height: 100px;
  text-align: center;
  margin-bottom: 20px;
}
